html, body{
    margin: 0;
    padding: 0;
    
}

body{
    width: 100%;
    height: 100% ;
    font-family: sans-serif;
    letter-spacing: 0.03em;
    

}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: #fff;
    box-shadow: 0 4px 25px -22px black;
    z-index: 2;
    
        
}
.contenido-header{
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
}

.menu{
    height: 100px;
    
}
.menu nav{
    height: 100%;
}

.menu nav ul {
    height: 100%;
    display: flex;
    list-style: none;
}
.menu nav ul li {
    height: 80%;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.menu nav ul li a {
    color: rgb(13, 149, 202);
    text-decoration: none;
}

/*portada*/

.contenido-portada{
    width: 100%;
    height: 500px;
    position: relative;
    top: 60px;
    background-image: url(imagenes/OptiDental.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat ;
}

.contenido-portada-texto{
    max-width: 1050px;
    height: 500px;
    margin: auto;
    text-align: left;
    display: flex;
    justify-items: left;
    align-items: center;
}


.contenido-portada-texto h1 strong{
    color:rgb(13, 149, 202) ;
}
/*Titulos de tratamientos y contactos*/
.titulo{
    text-align: center;
    font-size: 25px;
    color: #6a6a6a;
    margin-top: 25px;
    font-weight: 100;
}

/*Seccion Tratamientos*/

.contenido-tratamientos{
    width: 100%;
    height: 500px;
    position: relative;
    top: 60px;
}
.contenedor{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;  
}
 .contenedor .tarjeta{
     width: 1000px;
     height: 430px;
     border-radius: 8px;
     box-shadow: 0 2px 2px 2px  rgba(0, 0, 0, 0.2);
     overflow: hidden;
     margin: 20px;
     text-align: center;
     transition: all 0.25s;
     
 }
 .contenedor .tarjeta img{
     width: 500px;
     height: 280px;
 }
 .contenedor .tarjeta h3{
    font-size: 15px; 
    font-weight: 600;
 }
 .contenedor .tarjeta p{
     padding: 0 1rem;
     font-size: 16px;
     font-weight: 300;
 }
 


/*Seccion nosotros*/

.contenido-nosotros{
    width: 100%;
    height: 500px;
    position: relative;
    top: 550px;
}
.contenedorN{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
 .contenedorN .tarjetaN{
     width: 330px;
     height: 430px;
     border-radius: 8px;
     box-shadow: 0 2px 2px  rgba(0, 0, 0, 0.2);
     overflow: hidden;
     margin: 20px;
     text-align: center;
     transition: all 0.25s;   
 }
 .contenedorN .tarjetaN:hover{
     transform: translateY(-15px);
     box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
 }
 .contenedorN .tarjetaN img{
     width: 330px;
     height: 220px;
 }
 .contenedorN .tarjetaN h4{
     font-weight: 600;
 }
 .contenedorN .tarjetaN p{
     padding: 0 1rem;
     font-size: 16px;
     font-weight: 300;
 }
 .contenedorN .tarjetaN a{
     font-weight: 500;
     text-decoration: none;
     color: #3498db;
 }


/*contactos*/

.contenido-contactos{
    width: 100%;
    height: 80px;
    position: relative;
    top: 1050px;
    background:rgb(13, 149, 202);
    
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
.contenido-contactos form{
    max-width: 1200px;
    margin: 5px;
    text-align: left;
    display: flex;
    justify-items: left;
    align-items: center;
}
.contenido-contactos img{
    width: 50px;
    height: 50px;
    margin: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/*footer*/

footer{
    width: 100%;
    height: 50px;
    position: relative;
    top: 1050px;
    background: rgb(29, 29, 29);
    box-shadow: 0 4px 25px -22px black;
    z-index: 2;
    margin: auto;
    display: flex;
    justify-content: space;
}
footer p{
    color: blanchedalmond;
    margin: 20px 225px;

    
}






